<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://adminlte.io/themes/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<script
	src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="common.js"></script>
</head>
<body>
	<div ng-app="navaneeApp" ng-controller="navaneeCtrl">
		
	
	
	<div class="jumbotron col-sm-offset-4 col-md-4"
		style="background-color: lightblue; font-stretch: ultra-condensed">
		<input type="text" id="uname" ng-model="uname" placeholder="Enter User Name"> 
		<input type="password" placeholder="Enter Password"><br>
		<button type="submit" class="btn btn-success" ng-click="navaneeth(uname)">Fireit</button>
		
		</div>
	</div>

</body>
<!-- <script>
	var app = angular.module('navaneeApp',[]);
	app.controller('navaneeCtrl', function($scope, $http) {
	$scope.myresponsestatus = "";
	$scope.myresponsedata = "";
	$scope.navaneeth = function(uname) {
		alert(uname);
		$http.get("http://localhost:4040/xyz/mnop?myname=" + uname)
		.then(
				function(response) {
					$scope.myresponsestatus = response.status;
					$scope.myresponsedata = response.data;
					alert($scope.myresponsestatus);
					alert($scope.myresponsedata);

				});

	}
	});
</script> -->
</html>