<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Welcome Page</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script
	src="https://adminlte.io/themes/AdminLTE/bower_components/jquery/dist/jquery.min.js"></script>
<script
	src="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://adminlte.io/themes/AdminLTE/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script type="text/javascript" src="common.js"></script>
</head>
<body>
	<div ng-app="navaneeApp" ng-controller="navaneeCtrl">
		<div class="jumbotron col-sm-offset-4 col-md-4"
			style="background-color: lightblue; font-stretch: ultra-condensed"
			ng-show="lgstatus">
			
			<div class="form-group col-sm-offset-1 col-md-5">
				<input type="text" class="form-control" id="uname" ng-model="uname"
					placeholder="Enter User Name"
					onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode >= 97 && event.charCode <= 122 || event.charCode >= 65 && event.charCode <= 90"
					maxlength="11"> <input type="password"
					class="form-control" placeholder="Enter Password" ng-model="pwd"><br>
				<button type="submit" class="btn btn-warning"
					ng-click="navaneeth(uname,pwd)">Fireit</button>
					
					<button type="submit" class="btn btn-warning"
					ng-click="list_user()">List All Users</button>
					
					<div ng-repeat="u in userList">
					{{u.userId}}  {{u.userName}}  {{u.password}}
					</div>
					
					<div ng-if="myresponsedata=='notok'">
					<p> User not Authorized</p>
					</div>
			</div>
		</div>
		<div class="jumbotron col-sm-offset-4 col-md-4"
			style="background-color: orange; font-stretch: ultra-condensed"
			ng-if="myresponsedata=='ok welcome'">
			<h3>
				<center>Welcome to home page</center>
			</h3>
			<pre class="tab">			 {{myresponsedata}}   {{uname}}!!	</pre>

		</div>
		
	</div>
</body>
</html>